<script>
  $(document).ready(function () {
    LoadTable();
    LoadList();

    $(document).on("click", "#addBtn", function () {
      let location = $("#locationlist").val();
      let origin = $("#origin").val();
      let destination = $("#destination").val();

      var message = "";

      if (origin == "") {
        message += "Origin ";
      }
      if (destination == "") {
        message += "Destination ";
      }

      if (message != "") {
        warning("Empty", "Must fill-up " + message + "field!");
      } else {
        $.ajax({
          type: "POST",
          url: "/route/save",
          data: {
            location: location,
            origin: origin,
            destination: destination,
          },
          success: function (result) {
            LoadTable();
            ClearInput();
            if (result.msg == "success") {
              success("Success", "Data saved!");
            }
            if (result.msg == "duplicate") {
              warning(
                "Duplicate",
                `Origin: ${origin} Destination: ${destination} route already ready`
              );
            }
          },
          error: function (err) {
            errormsg(err);
          },
        });
      }
    });

    $("#search").on("keyup", function () {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("search");
      filter = input.value.toUpperCase();
      table = document.getElementById("route-table");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    });

    function LoadTable() {
      $("#route-table").DataTable({
        destroy: true,
        processing: true,
        serverSide: true,
        paging: false,
        searching: false,
        info: false,
        scrollY: 550,
        scrollCollapse: true,
        serverMethod: "GET",
        ajax: {
          url: "/route/load",
          dataSrc: (json) => {
            var finalData = [];
            var data = json.data;

            console.log(data);
            $.each(data, (key, item) => {
              var action = "";
              var status = item.status;

              if (status == "ACTIVE") {
                action =
                  '<button id="editBtn" class="btn btn-outline-primary" name="editBtn" data-toggle="modal" data-target="#employeeModal">EDIT</button> <button id="inactiveBtn" class="btn btn-outline-primary" name="inactiveBtn">INACTIVE</button>';
              }
              if (status == "INACTIVE") {
                action =
                  '<button id="editBtn" class="btn btn-outline-primary" name="editBtn" data-toggle="modal" data-target="#employeeModal">EDIT</button> <button id="activeBtn" class="btn btn-outline-primary" name="activeBtn">ACTIVE</button>';
              }

              finalData.push({
                routecode: item.routecode,
                origin: item.origin,
                destination: item.destination,
                location: item.location,
                status: item.status,
                createdby: item.createdby,
                createddate: item.createddate,
                action: action,
              });
            });

            return finalData;
          },
        },
        columnDefs: [
          {
            targets: 1,
            className: "td-indent",
          },
        ],
        columns: [
          { data: "routecode" },
          { data: "origin" },
          { data: "destination" },
          { data: "location" },
          { data: "status" },
          { data: "createdby" },
          { data: "createddate" },
          { data: "action" },
        ],
        initComplete: function () {
          console.log("init complete");
        },
      });
    }

    function ClearInput() {
      document.getElementById("origin").value = "";
      document.getElementById("destination").value = "";
    }

    function LoadList() {
      $.ajax({
        type: "GET",
        url: "/location/load",
        success: function (result) {
          var data = result.data;

          $.each(data, function (key, item) {
            var options = new Option(item.locationname, item.locationname);
            $(options).html(item.locationname);
            $("#locationlist").append(options);
          });
        },
        error: function (err) {
          errormsg(err);
        },
      });
    }
  });
</script>
