<div class="row">
    <div class="col-xl-6 col-lg-5">
        <div class="input-area">
            <fieldset>
                <legend class="info black-txt">User Info</legend>
                <div class="report-entry">
                    <label class="register-label" for="price">ID: </label>
                    <input class="register-address" type="text" id="idnumber" name="idnumber">
                </div>
                <div class="report-entry">
                    <label class="register-label" for="price">FULLNAME: </label>
                    <input class="register-address" type="text" id="fullname" name="fullname">
                </div>
                <div class="report-entry">
                    <label class="register-label" for="price">PASSWORD: </label>
                    <input class="register-address" type="text" id="password" name="password">
                </div>
                <div class="report-entry">
                    <label class="register-label" for="price">POSITION: </label>
                    <select class="register-address" id=position>
                        <option value="-" id="listposition">Select Position</option>
                    </select>
                    <!-- <input class="register-address" type="text" id="position" name="position"> -->
                </div>
                <div class="report-entry">
                    <label class="register-label" for="price">ASSIGNED LOCATION: </label>
                    <select class="register-address" id=assignedlocation>
                        <option value="-" id="location">Select Location</option>
                    </select>
                    <!-- <input class="register-address" type="text" id="assignedlocation" name="assignedlocation"> -->
                </div>
                <br>
                <div>
                    <button class="btn-right btn-glow" id="registerBtn" name="registerBtn">REGISTER</button>
                </div>
            </fieldset>
        </div>
    </div>
</div>
<hr class="custom-hr">
<div class="row">
    <div class="col-xl-12 col-lg-10">
        <table id="storeInfoTbl">
            <thead>
                <th>ID</th>
                <th>FULLNAME</th>
                <th>PASSWORD</th>
                <th>POSITION</th>
                <th>ASSIGNED LOCATION</th>
            </thead>
            <tbody></tbody>
        </table>

    </div>
</div>