<div class="row">
    <div class="col-xl-12 col-lg-9">
        <h4>PENDING BUDGET REQUEST</h4>
        <table id="equipmentTbl">
            <thead>
                <th>DATE</th>
                <th>TICKET</th>
                <th>PERSONEL</th>
                <th>LOCATION</th>
                <th>BUDGET</th>
                <th>STATUS</th>
                <th>ACTION</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>