<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-3">
    <h1 class="page-title">REQUEST BUDGET</h1>
  </div>
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="row mb-4">
        <div class="col-md-3">
          <h6 class="m-0 font-weight-bold table-title">Request Budget Table</h6>
        </div>
        <div class="col-md-6">
          <input
            id="searchrequest"
            name="searchrequest"
            type="text"
            class="form-control"
            placeholder="Search Employee ID"
            aria-label="searchrequest"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive-sm">
          <table
            id="requestbudget-table"
            class="table table-bordered table-sm table-hover"
          >
            <thead class="table-dark">
              <th class="col-1 text-start">Request ID</th>
              <th class="col-1 text-center">Request By</th>
              <th class="col-1 text-center">Request Date</th>
              <th class="col-1 text-center">Budget</th>
              <th class="col-4 text-center">Details</th>
              <th class="col-2 text-center">Status</th>
              <th class="col-2 text-end">Actions</th>
            </thead>
            <tbody class="table-light"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-3">
    <h1 class="page-title">REIMBURSEMENT BUDGET</h1>
  </div>
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="row mb-4">
        <div class="col-md-3">
          <h6 class="m-0 font-weight-bold table-title">
            Reimbursement Budget Table
          </h6>
        </div>
        <div class="col-md-6">
          <input
            id="searchreimburse"
            name="searchreimburse"
            type="text"
            class="form-control"
            placeholder="Search Employee ID"
            aria-label="searchreimburse"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive-sm">
          <table
            id="reimbursement-table"
            class="table table-bordered table-sm table-hover"
          >
            <thead class="table-dark">
              <th class="col-1 text-start">Reimburse ID</th>
              <th  class="col-1 text-center">Reimburse By</th>
              <th  class="col-1 text-center">Reimburse Date</th>
              <th  class="col-1 text-center">Request ID</th>
              <th  class="col-3 text-center">Details</th>
              <th  class="col-1 text-center">Total Reimburse</th>
              <th  class="col-1 text-center">Status</th>
              <th class="col-2 text-end">Actions</th>
            </thead>
            <tbody class="table-light"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
