<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-3">
      <h1 class="page-title">REQUEST BUDGET</h1>
    </div>
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <div class="row mb-4">
          <div class="col-md-3">
            <h6 class="m-0 font-weight-bold table-title">Request Budget Table</h6>
          </div>
          <div class="col-md-6">
            <input
              id="search"
              name="search"
              type="text"
              class="form-control"
              placeholder="Search Employee Name"
              aria-label="search"
              aria-describedby="basic-addon1"
            />
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive-sm">
            <table id="requestbudget-table" class="table table-bordered table-sm table-hover">
              <thead class="table-dark">
                <th>Request ID</th>
                <th>Request By</th>
                <th>Request Date</th>
                <th>Details</th>
                <th>Status</th>
                <th>Actions</th>
              </thead>
              <tbody class="table-light"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-3">
      <h1 class="page-title">REIMBURSEMENT BUDGET</h1>
    </div>
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <div class="row mb-4">
          <div class="col-md-3">
            <h6 class="m-0 font-weight-bold table-title">Reimbursement Budget Table</h6>
          </div>
          <div class="col-md-6">
            <input
              id="search"
              name="search"
              type="text"
              class="form-control"
              placeholder="Search Employee Name"
              aria-label="search"
              aria-describedby="basic-addon1"
            />
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive-sm">
            <table id="reimbursement-table" class="table table-bordered table-sm table-hover">
              <thead class="table-dark">
                <th>Reimburse ID</th>
                <th>Reimburse By</th>
                <th>Reimburse Date</th>
                <th>Request ID</th>
                <th>Details</th>
                <th>Total Reimburse</th>
                <th>Status</th>
                <th>Actions</th>
              </thead>
              <tbody class="table-light"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  