<div class="row">
    <div class="col-xl-4 col-lg-3 col-sm-3"></div>
    <h3>STORE INFO</h3>
    <div class="col-xl-4 col-lg-3 col-sm-3 entry-area">
    </div>

    <div class="col-xl-4 col-lg-3 col-sm-3">
    </div>
    <div>
        <div class="col-xl-4 col-lg-3 col-sm-3"></div>
        <div class="entry-area-row">
            <center>
                <br><input id="storecode" name="storecode" type="text" placeholder="Store Code" class="entry-area-box">
                <br><input id="storename" name="storename" type="text" placeholder="Store Name" class="entry-area-box">
                <br><input id="address" name="address" type="text" placeholder="Store Address" class="entry-area-box">
                <br><input id="email" name="email" type="text" placeholder="Store Email" class="entry-area-box">
                <br><input id="contact" name="contact" type="text" placeholder="Store Contact" class="entry-area-box">

                 <button class="add-btn" id="addBtn" name="addBtn">ADD</button>
            </center>
        </div>

        <div class="route">
            <hr>

            <table id="store-table">
                <thead class="table-row">
                    <th> Store Code </th>
                    <th> Store Name </th>
                    <th> Store Address </th>
                    <th> Store Email </th>
                    <th> Store Contact </th>
                    <th> Status </th>
                    <th> Created By </th>
                    <th> Created Date </th>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="Store Code"> - </td>
                        <td data-label="Store Name"> - </td>
                        <td data-label="Store Address"> - </td>
                        <td data-label="Store Email"> 123456@gmail.com </td>
                        <td data-label="Store Contact"> - </td>
                        <td data-label="Status"> Completed </td>
                        <td data-label="Created By"> Creator </td>
                        <td data-label="Created Date"> 2023-04-18 </td>
                    </tr>

                    <tr>
                        <td data-label="Store Code"> - </td>
                        <td data-label="Store Name"> - </td>
                        <td data-label="Store Address"> - </td>
                        <td data-label="Store Email"> 123456@gmail.com </td>
                        <td data-label="Store Contact"> - </td>
                        <td data-label="Status"> Completed </td>
                        <td data-label="Created By"> Creator </td>
                        <td data-label="Created Date"> 2023-04-18 </td>
                    </tr>
                </tbody>
            </div>
        </table>
    </div>
</div>