<div class="row">
    <div class="col-xl-4 col-lg-3 col-sm-3"></div>
    <h3>EMPLOYEE INFO</h3>
    <div class="col-xl-4 col-lg-3 col-sm-3 entry-area">
    </div>

    <div class="col-xl-4 col-lg-3 col-sm-3">
    </div>
    <div>
        <div class="col-xl-4 col-lg-3 col-sm-3"></div>
        <div class="entry-area-row">
            <center>
                <br><input id="employeecode" name="employeecode" type="text" placeholder="Employee Code" class="entry-area-box">
                <br><input id="employeeid" name="employeeid" type="text" placeholder="Employee ID" class="entry-area-box">
                <br><input id="fullname" name="fullname" type="text" placeholder="Full Name" class="entry-area-box">
                <br><input id="location" name="location" type="text" placeholder="Location" class="entry-area-box">
                <br><input id="department" name="department" type="text" placeholder="Department" class="entry-area-box">
                <br><input id="position" name="position" type="text" placeholder="Position" class="entry-area-box">
                <br><input id="role" name="role" type="text" placeholder="Role" class="entry-area-box">

                 <button class="add-btn" id="addBtn" name="addBtn">ADD</button>
            </center>
        </div>

        <div class="route">
            <hr>

            <table id="employee-table">
                <thead class="table-row">
                    <th> Employee ID </th>
                    <th> Full Name </th>
                    <th> Location </th>
                    <th> Department </th>
                    <th> Position </th>
                    <th> Role </th>
                    <th> Status </th>
                    <th> Created By </th>
                    <th> Created Date </th>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="Employee ID"> - </td>
                        <td data-label="Full Name"> - </td>
                        <td data-label="Location"> - </td>
                        <td data-label="Department"> - </td>
                        <td data-label="Position"> - </td>
                        <td data-label="Role"> - </td>
                        <td data-label="Status"> - </td>
                        <td data-label="Created By"> Creator </td>
                        <td data-label="Created Date"> 2023-04-18 </td>
                    </tr>

                    <tr>
                        <td data-label="Employee ID"> - </td>
                        <td data-label="Full Name"> - </td>
                        <td data-label="Location"> - </td>
                        <td data-label="Department"> - </td>
                        <td data-label="Position"> - </td>
                        <td data-label="Role"> - </td>
                        <td data-label="Status"> - </td>
                        <td data-label="Created By"> Creator </td>
                        <td data-label="Created Date"> 2023-04-18 </td>
                    </tr>
                </tbody>
            </div>
        </table>
    </div>
</div>