<div>
    
    <label for="firstname">Firstname:</label>
    <input id="firstname type="text" name="fname" placeholder="Enter Firstname:" required>
<br>

    <label for="lastname">Lastname:</label>
    <input id="lastname type="text" name="lname"  placeholder="Enter Lastname:" required>
   <br>
   
   <label for="position">Position:</label>
   <input id="position type="text" name="position" placeholder="Enter position:" required>
<br>

   <label for="department">Department:</label>
   <input id="department type="text" name="department" placeholder="Enter Department:" required>
<br>

    <input type ="submit" value="Submit" name="submit" id=""btn"
    onclick="AddRow()">


</div>

<hr>
<div>
    <table id="user-table2">
        <thead>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Role</th>
            <th>Department</th>

        </thead>
        <tbody>
        </tbody>
    </table>
</div>