<div class="row">
    <div class="col-xl-4 col-lg-3 col-sm-3"></div>
    <h3>TRANSPORTATION INFO</h3>
    <div class="col-xl-4 col-lg-3 col-sm-3 entry-area">
    </div>

    <div class="col-xl-4 col-lg-3 col-sm-3">
    </div>
    <div>
        <div class="col-xl-4 col-lg-3 col-sm-3"></div>
        <div class="entry-area-row">
         <center>
            <br><input type="text" placeholder="Transportation Name" class="entry-area-box"><br>
            <br><input type="button" value="Add" name="add" id="btn" onclick="AddRow()" class="add-btn"></center>
        </div>

        <div class="route">
            <hr>
            <table id="route-table">
                <thead class="table-row">
                    <th> Transportation Name </th>
                    <th> Transportation Code </th>
                    <th> Created By </th>
                    <th> Created Date </th>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="Transportation Name"> Tricycle </td>
                        <td data-label="Transportation Code"> 30001 </td>
                        <td data-label="Created By"> Creator </td>
                        <td data-label="Created Date"> 2023-04-18 </td>
                    </tr>

                    <tr>
                        <td data-label="Transportation Name"> Van </td>
                        <td data-label="Transportation Code"> 30003 </td>
                        <td data-label="Created By"> Creator </td>
                        <td data-label="Created Date"> 2023-04-18 </td>
                    </tr>

                    <tr>
                        <td data-label="Transportation Name"> Taxi </td>
                        <td data-label="Transportation Code"> 30005 </td>
                        <td data-label="Created By"> Creator </td>
                        <td data-label="Created Date"> 2023-04-18 </td>
                    </tr>

                    <tr>
                        <td data-label="Transportation Name"> Ship </td>
                        <td data-label="Transportation Code"> 30006 </td>
                        <td data-label="Created By"> Creator </td>
                        <td data-label="Created Date"> 2023-04-18 </td>
                    </tr>

                    <tr>
                        <td data-label="Transportation Name"> Jeep </td>
                        <td data-label="Transportation Code"> 30002 </td>
                        <td data-label="Created By"> Creator </td>
                        <td data-label="Created Date"> 2023-04-18 </td>
                    </tr>

                    <tr>
                        <td data-label="Transportation Name"> Hotel </td>
                        <td data-label="Transportation Code"> 30007 </td>
                        <td data-label="Created By"> Creator </td>
                        <td data-label="Created Date"> 2023-04-18 </td>
                    </tr>

                    <tr>
                        <td data-label="Transportation Name"> Bus </td>
                        <td data-label="Transportation Code"> 30004 </td>
                        <td data-label="Created By"> Creator </td>
                        <td data-label="Created Date"> 2023-04-18 </td>
                    </tr>
                </tbody>
            </div>
        </table>
    </div>
</div>