<div class="row">
    <div class="col-xl-4 col-lg-3 col-sm-3"></div>
    <h3>ROLE INFO</h3>
    <div class="col-xl-4 col-lg-3 col-sm-3 entry-area">
    </div>

    <div class="col-xl-4 col-lg-3 col-sm-3">
    </div>
    <div>
        <div class="col-xl-4 col-lg-3 col-sm-3"></div>
        <div class="entry-area-row">
         <center>
            <br><input type="text" placeholder="Role Type" class="entry-area-box"><br>
            <br><input type="button" value="Add" name="add" id="btn" onclick="AddRow()" class="add-btn"></center>
        </div>

        <div class="route">
            <hr>
            <table id="role-table">
                <thead class="table-row">
                    <th> Role Code </th>
                    <th> Role Name </th>
                    <th> Created By </th>
                    <th> Created Date </th>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="Role Name"> - </td>
                        <td data-label="Role Code"> - </td>
                        <td data-label="Created By"> Creator </td>
                        <td data-label="Created Date"> 2023-04-18 </td>
                    </tr>

                    <tr>
                        <td data-label="Role Name"> - </td>
                        <td data-label="Role Code"> - </td>
                        <td data-label="Created By"> Creator </td>
                        <td data-label="Created Date"> 2023-04-18 </td>
                    </tr>
                </tbody>
        </div>
        </table>
    </div>
</div>