<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-3">
    <h1 class="page-title">ROLES</h1>
  </div>

  <div class="row mb-2">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <label class="form-label" for="rolename">ROLE NAME</label>
              <input
                id="rolename"
                name="rolename"
                type="text"
                class="form-control"
                placeholder="Enter Role Name"
                aria-label="rolename"
                aria-describedby="basic-addon1"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 mt-4">
              <button
                id="addBtn"
                name="addBtn"
                class="d-none d-sm-inline-block btn btn-sm btn-outline-primary shadow-sm w-50"
              >
                <i class="fa fa-plus" aria-hidden="true"></i>
                Add
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="row mb-4">
        <div class="col-md-3">
          <h6 class="m-0 font-weight-bold table-title">User Table</h6>
        </div>
        <div class="col-md-6">
          <input
            id="search"
            name="search"
            type="text"
            class="form-control"
            placeholder="Search Role Name"
            aria-label="search"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive-sm">
          <table id="role-table" class="table table-bordered table-sm table-hover">
            <thead class="table-dark">
              <th>Role Code</th>
              <th>Role Name</th>
              <th>Created By</th>
              <th>Created Date</th>
              <th>Actions</th>
            </thead>
            <tbody class="table-light"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
