<div>
    <input id="firstname" type="text" placeholder="firstname">
    <button id="clickbtn" name="clickbtn">click</button>
</div>

<hr>
<div>
    <table id="user-table">
        <thead>
            <th>Name</th>
            <th>role</th>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>