<div class="row">
    <div class="col-xl-4 col-lg-3 col-sm-3"></div>
    <h3>ROUTE PRICE INFO</h3>
    <div class="col-xl-4 col-lg-3 col-sm-3 entry-area">
    </div>

    <div class="col-xl-4 col-lg-3 col-sm-3">
    </div>
    <div>
        <div class="col-xl-4 col-lg-3 col-sm-3"></div>
        <div class="entry-area-row">
            <center>
                <br><input id="routepricecode" name="routepricecode" type="text" placeholder="Route Price Code" class="entry-area-box">
                <br><input id="currentprice" name="currentprice" type="text" placeholder="Current Price" class="entry-area-box">
                <br><input id="previousprice" name="previousprice" type="text" placeholder="Previous Price" class="entry-area-box">
                <br><input id="updateby" name="updateby" type="text" placeholder="Updateby" class="entry-area-box">
                <br><input id="updatedate" name="updatedate" type="text" placeholder="Update Date" class="entry-area-box">
                 <button class="add-btn" id="addBtn" name="addBtn">ADD</button>
            </center>
        </div>

        <div class="route">
            <hr>

            <table id="routeprice-table">
                <thead class="table-row">
                    <th> Route Price Code </th>
                    <th> Route Code </th>
                    <th> Current Price </th>
                    <th> Previous Price </th>
                    <th> Update By </th>
                    <th> Update Date </th>
                    <th> Created By </th>
                    <th> Created Date </th>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="Route Price Code"> - </td>
                        <td data-label="Route Code"> - </td>
                        <td data-label="Current Price"> - </td>
                        <td data-label="Previous Price"> - </td>
                        <td data-label="Update By"> - </td>
                        <td data-label="Update Date"> - </td>
                        <td data-label="Created By"> Creator </td>
                        <td data-label="Created Date"> 2023-04-18 </td>
                    </tr>

                    <tr>
                        <td data-label="Route Price Code"> - </td>
                        <td data-label="Route Code"> - </td>
                        <td data-label="Current Price"> - </td>
                        <td data-label="Previous Price"> - </td>
                        <td data-label="Update By"> - </td>
                        <td data-label="Update Date"> - </td>
                        <td data-label="Created By"> Creator </td>
                        <td data-label="Created Date"> 2023-04-18 </td>
                    </tr>
                </tbody>
            </div>
        </table>
    </div>
</div>