<div class="row">
    <div class="col-xl-6 col-lg-5">
        <div class="input-area">
            <fieldset>
                <legend class="info black-txt">Personal Info</legend>
                <div class="report-entry">
                    <label class="register-label" for="price">ID: </label>
                    <input class="register-address" type="text" id="storecode" name="itembarcode">
                </div>
                <div class="report-entry">
                    <label class="register-label" for="price">FULLNAME: </label>
                    <input class="register-address" type="text" id="storename" name="itembarcode">
                </div>
                <div class="report-entry">
                    <label class="register-label" for="price">POSITION: </label>
                    <input class="register-address" type="text" id="storeaddress" name="itembarcode">
                </div>
                <div class="report-entry">
                    <label class="register-label" for="price">ASSIGNED LOCATION: </label>
                    <input class="register-address" type="text" id="storeaddress" name="itembarcode">
                </div>
                <br>
                <div>
                    <button class="btn-right btn-glow" id="registerBtn" name="registerBtn">REGISTER</button>
                </div>
            </fieldset>
        </div>
    </div>
</div>
<hr class="custom-hr">
<div class="row">
    <div class="col-xl-12 col-lg-10">
        <table id="storeInfoTbl">
            <thead>
                <th>ID</th>
                <th>FULLNAME</th>
                <th>POSITION</th>
                <th>ASSIGNED LOCATION</th>
            </thead>
            <tbody></tbody>
        </table>

    </div>
</div>